NEXT_PUBLIC_SUPABASE_URL=https://soiymskxrtbeszgwigpw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNvaXltc2t4cnRiZXN6Z3dpZ3B3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0NzEzNTMsImV4cCI6MjA5MTA0NzM1M30.s2RCkAP8HGI1kfXNj4Fin-S3OSbS78i0ooH5qo27e7o
